@font-face {
  font-family: BebasNeueBold; /* Имя шрифта */
  src: url(../fonts/BebasNeueBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: BebasNeueRegular; /* Имя шрифта */
  src: url(../fonts/BebasNeueRegular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: RoadRadio; /* Имя шрифта */
  src: url(../fonts/RoadRadio.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: RoadRadio-Bold; /* Имя шрифта */
  src: url(../fonts/RoadRadio-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: RoadRadio-Light; /* Имя шрифта */
  src: url(../fonts/RoadRadio-Light.ttf); /* Путь к файлу со шрифтом */
}
