$white: #ffffff;
$black: #000;
$mainColor: #ff511d;
$textColor:rgba(255,255,255,.8);

$bebasBold: BebasNeueBold, sans-serif;
$bebasRegular: BebasNeueRegular, sans-serif;
$road: RoadRadio, sans-serif;
$roadBold: RoadRadio-Bold, sans-serif;
$roadLight: RoadRadio-Light, sans-serif;
